fastapi
uvicorn
python-dotenv
langchain==0.3.30
langchain-community==0.3.31
langchain-core==0.3.86
langchain-text-splitters==0.3.11
langchain-google-genai==2.1.12
faiss-cpu
pypdf
pydantic-settings
sentence-transformers
google-cloud-firestore==2.27.0
langchain-google-firestore==0.5.0
